body{
    background-image: url("/mod3-project-frontend/assets/images/backgroundImg.jpg");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section,
footer{
    text-align: center
}

img{
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
}
